[
  {
    "scope": "https://unit-test.recurly.com:443",
    "method": "GET",
    "path": "/v2/accounts/not_found",
    "body": "",
    "status": 404,
    "response": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<error>\n  <symbol>not_found</symbol>\n  <description lang=\"en-US\">Couldn't find Account with account_code = not_found</description>\n</error>\n",
    "rawHeaders": [
      "Content-Type",
      "application/xml; charset=utf-8",
      "X-Api-Version",
      "2.0",
      "Content-Language",
      "en-US",
      "X-RateLimit-Limit",
      "2000",
      "X-RateLimit-Remaining",
      "1996",
      "X-RateLimit-Reset",
      "1481834940"
    ]
  }
]
